# Clean dataframe

In [51]:
import pandas as pd
AZM = pd.read_csv('ActiveZoneMinutes.csv')
print(AZM.head(5))

          date_time heart_zone_id total_minutes Unnamed: 3  Unnamed: 4
0  2023-06-27T17:56      FAT_BURN             1        NaN         NaN
1  2023-06-27T17:57      FAT_BURN             1        NaN         NaN
2  2023-06-27T17:58        CARDIO             2        NaN         NaN
3  2023-06-27T17:59        CARDIO             2        NaN         NaN
4  2023-06-27T18:00        CARDIO             2        NaN         NaN

### There are many empty columns, drop them

Can't have multiple column names inside function, need to define a new list stores column names and drop the new list

col_sleep = ['unwant1', 'unwant2']

AZM = AZM.drop(col_sleep, axis=1)

### Or select the columns you want

In [52]:
col_AZM = ['date_time', 'total_minutes', 'heart_zone_id']
AZM = AZM[col_AZM]

print(AZM.head(5))

          date_time total_minutes heart_zone_id
0  2023-06-27T17:56             1      FAT_BURN
1  2023-06-27T17:57             1      FAT_BURN
2  2023-06-27T17:58             2        CARDIO
3  2023-06-27T17:59             2        CARDIO
4  2023-06-27T18:00             2        CARDIO

### Summarize by date not time

1. convert 'date_time' to date format & convert 'total_minutes' to numeric

.dt.date ensures only keep date

In [53]:
AZM['date_time'] = pd.to_datetime(AZM['date_time']).dt.date
AZM['total_minutes'] = pd.to_numeric(AZM['total_minutes'], errors='coerce')

print(AZM.head(5))

    date_time  total_minutes heart_zone_id
0  2023-06-27            1.0      FAT_BURN
1  2023-06-27            1.0      FAT_BURN
2  2023-06-27            2.0        CARDIO
3  2023-06-27            2.0        CARDIO
4  2023-06-27            2.0        CARDIO

2. combine each date

In [54]:
AZM_grouped= AZM.groupby(AZM['date_time']) # group by date
sum_total_min = AZM_grouped['total_minutes'].sum() # sum over total minutes

print(AZM.head(5))

    date_time  total_minutes heart_zone_id
0  2023-06-27            1.0      FAT_BURN
1  2023-06-27            1.0      FAT_BURN
2  2023-06-27            2.0        CARDIO
3  2023-06-27            2.0        CARDIO
4  2023-06-27            2.0        CARDIO

3. reset index so display one row per date

In [55]:
AZM = sum_total_min.reset_index()

print(AZM)

      date_time  total_minutes
0    2023-06-27           77.0
1    2023-06-28           32.0
2    2023-06-29          157.0
3    2023-06-30           34.0
4    2023-07-01            1.0
..          ...            ...
159  2023-12-14            6.0
160  2023-12-15           87.0
161  2023-12-16          175.0
162  2023-12-17           58.0
163  2023-12-18            7.0

[164 rows x 2 columns]